<%= form_with(model: @houseinfo, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @houseinfo.errors.any? %>
      <div id="error_explanation">
        <h2><%= @houseinfo.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @houseinfo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="subject">
      <%= form.label :物件名： %><br>
      <%= form.text_field :name %>
    </div>
    <div class="subject">
      <%= form.label :賃料： %><br>
      <%= form.text_field :rent %>円
    </div>

    <div class="subject">
      <%= form.label :住所： %><br>
      <%= form.text_field :address %>
    </div>

    <div class="subject"><br>
      <%= form.label :築年数： %><br>
      <%= form.text_field :age %>年
    </div>

    <div class="subject">
      <%= form.label :備考欄： %><br>
      <%= form.text_area :note ,rows: 3 %>
    </div>

    <div>
    <% @houseinfo.nearstations.each_with_index do |nearstation, index| %>
        <%= form.fields_for :nearstations, nearstation do |s| %>
        <h2>最寄り駅<%= index + 1 %></h2>

        <div class="subject">
        <%= s.label :路線名： %><br>
        <%= s.text_field :routename %>
        </div>

        <div class="subject">
        <%= s.label :駅名： %><br>
        <%= s.text_field :station %>
        </div>

        <div class="subject">
        <%= s.label :徒歩分数： %><br>
        <%= s.text_field :minutes %>分
        </div>
        <% end %>
    <% end %>
    </div>
    
    <div class="actions">
      <%= form.submit :物件情報を登録する , class:'btn' %>
    </div>

<% end %>