<h1>物件情報一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th class = "subject">物件名</th>
    <th class = "subject">賃料</th>
    <th class = "subject">住所</th>
    <th class = "subject">築年数</th>   
    <th class = "subject">備考欄</th>
    <%# <th colspan="3"></th> %>
  </tr>
<% @houseinfos.each do |houseinfo| %>
  <tr>
    <td class= matter ><%= houseinfo.name %></td>
    <td class= matter ><%= houseinfo.rent %>円</td>
    <td class= matter ><%= houseinfo.address %></td>
    <td class= matter ><%= houseinfo.age %>年</td>
    <td class= matter ><%= houseinfo.note %></td>
    <td class= matter ><%= link_to '詳細を見る', houseinfo_path(houseinfo.id) %></td>
    <td class= matter ><%= link_to '編集する', edit_houseinfo_path(houseinfo.id), data: { confirm: '本当に編集していいですか？' }  %></td>
    <td class= matter ><%= link_to '削除する', houseinfo_path(houseinfo.id), method: :delete, data: { confirm: '本当に削除していいですか？' }%></td>
  </tr>
<% end %>
</table>
<%= link_to '新しい物件を登録する', new_houseinfo_path, class:'btn' %>